.font-aw{
    li{
        text-align: center;
        i{
            font-size: 22px;
        }
        margin-bottom: 2rem;
        margin-top: 1rem;
        span{
            display: block;
        }
    }
}

.job-image {
    max-width: 32.2rem;
    max-height: 40rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}