<div *ngIf="loading">Loading</div>
<div *ngIf="!loading" class="main-wrapper">
  <title-bar [title]="post.title" subtitle=""></title-bar>
  <!-- Content -->
  <div class="container">
    <div class="content">
      <div class="row sticky-wrapper">
        <div class="col-lg-8 col-md-8">
          <div class="">
            <div class="detail-tile mb-4">
              <h3 class="mr-3">
                {{ post.title }}
                <span *ngIf="post.wantVolunteers" class="ml-2 badge badge-pill badge-success text-uppercase">Volunteers needed</span>
                <span *ngIf="post.wantContractors" class="ml-2 badge badge-pill badge-success text-uppercase">Contractors needed</span>
              </h3>
              <p class="text-muted">{{ distance }}</p>
              <span class="badge badge-pill badge-info text-uppercase mr-2">{{ post.numVolunteers || 0 }} Volunteers Applied</span>
              <span class="badge badge-pill badge-info text-uppercase mr-2">{{ post.numContractors || 0 }} Contractors Applied</span>
            </div>
            <div class="nav-wrapper">
              <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link mb-sm-3 mb-md-0 active show"
                    id="tabs-icons-text-1-tab"
                    data-toggle="tab"
                    href="#tabs-icons-text-1"
                    role="tab"
                    aria-controls="tabs-icons-text-1"
                    aria-selected="true"
                    ><i class="fa fa-info-circle mr-2"></i>About</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link mb-sm-3 mb-md-0"
                    id="tabs-icons-text-2-tab"
                    data-toggle="tab"
                    href="#tabs-icons-text-2"
                    role="tab"
                    aria-controls="tabs-icons-text-2"
                    aria-selected="false"
                    ><i class="fa fa-picture-o mr-2"></i>Images</a
                  >
                </li>
                <li *ngIf="userIsPoster" class="nav-item">
                  <a
                    class="nav-link mb-sm-3 mb-md-0"
                    id="tabs-icons-text-3-tab"
                    data-toggle="tab"
                    href="#tabs-icons-text-4"
                    role="tab"
                    aria-controls="tabs-icons-text-3"
                    aria-selected="false"
                    ><i class="fa fa-comments mr-2"></i>Responses</a
                  >
                </li>
                <!-- <li class="nav-item">
                           <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab"
                              href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-3"
                              aria-selected="false"><i class="fa fa-money mr-2"></i>Reviews</a>
                        </li> -->
              </ul>
            </div>
            <div class="card shadow">
              <div class="card-body">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade active show" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                    <p class="description">
                      {{ post.description }}
                    </p>
                    <h4 class="mb-4">Contact Info</h4>
                    <div class="row mb-4">
                      <div class="col-lg-3">
                        <div class="detail-list mb-2">
                          <div class="detail-list-label mb-1">
                            <i aria-hidden="true" class="fa fa-phone mr-2"></i>
                            <small class="text-uppercase font-weight-bold">Phone</small>
                          </div>
                          <p class="m-0 text-small text-muted">{{ post.phoneNumber && post.showInfo ? format(post.phoneNumber) : 'Unavailable' }}</p>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div class="detail-list mb-2">
                          <div class="detail-list-label mb-1">
                            <i aria-hidden="true" class="fa fa-envelope mr-2"></i>
                            <small class="text-uppercase font-weight-bold">Email</small>
                          </div>
                          <p class="m-0 text-small text-muted">{{ post.email && post.showInfo ? post.email : 'Unavailable' }}</p>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="detail-list mb-2">
                          <div class="detail-list-label mb-1">
                            <i aria-hidden="true" class="fa fa-facebook mr-2"></i><small class="text-uppercase font-weight-bold">Facebook</small>
                          </div>
                          <p class="m-0 text-small text-muted">{{ post.facebook || 'Unavailable' }}</p>
                        </div>
                      </div>
                    </div>
                    <!-- <h4 class="mb-4">Features</h4>
                              <span class="badge badge-pill badge-primary text-uppercase mr-2 mb-2">Swimming pool</span>
                              <span class="badge badge-pill badge-primary text-uppercase mr-2 mb-2"> Free WiFi Internet
                                 Access Included</span>
                              <span class="badge badge-pill badge-primary text-uppercase mr-2 mb-2"> Free Parking</span>
                              <span class="badge badge-pill badge-primary text-uppercase mr-2 mb-2">Swimmingpool
                                 Outdoor</span>
                              <span class="badge badge-pill badge-primary text-uppercase mr-2 mb-2">Family Rooms</span>
                              <span class="badge badge-pill badge-primary text-uppercase mr-2 mb-2">Non Smoking
                                 Rooms</span> -->
                  </div>
                  <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                    <p class="description">
                      {{ post.description }}
                    </p>
                    <div>
                      <!-- <agm-map [latitude]="lat" [longitude]="lng" style="height: 300px">
                                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                 </agm-map> -->
                      <img *ngFor="let image of post.images" class="job-image" [src]="image" />
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                    <div class="pricing-list-container">
                      <ul>
                        <li>
                          <h5>Classic Burger</h5>
                          <p>Beef, salad, mayonnaise, spicey relish, cheese</p>
                          <span>$6</span>
                        </li>
                        <li>
                          <h5>Cheddar Burger</h5>
                          <p>Cheddar cheese, lettuce, tomato, onion, dill pickles</p>
                          <span>$6</span>
                        </li>
                        <li>
                          <h5>Veggie Burger</h5>
                          <p>Panko crumbed and fried, grilled peppers and mushroom</p>
                          <span>$6</span>
                        </li>
                        <li>
                          <h5>Chicken Burger</h5>
                          <p>Cheese, chicken fillet, avocado, bacon, tomatoes, basil</p>
                          <span>$6</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
                    <div *ngFor="let response of responses" class="row mb-4 list-img-wrap">
                      <div class="col-md-2 list-img"><img class="img-fluid rounded-circle shadow-lg" [src]="getAvatar(response)" /></div>
                      <div class="col-md-10">
                        <h5 class="text-primary">{{ response.responder.firstName + ' ' + response.responder.lastName }}</h5>
                        <p class="text-muted">{{ getTime(response.createdAt) }}</p>
                        <p>
                          {{ response.message }}
                        </p>
                        <!-- <button class="btn btn-sm btn-primary" type="button">Helpful?</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <sidebar-layout-two [post]="post"></sidebar-layout-two>
        </div>
      </div>
    </div>
  </div>
</div>
