.font-aw {
  li {
    text-align: center;
    i {
      font-size: 22px;
    }
    margin-bottom: 2rem;
    margin-top: 1rem;
    span {
      display: block;
    }
  }
}

.avatar-container {
  -webkit-background-clip: padding-box;
  -moz-border-radius: 60px;
  -moz-background-clip: padding;
  // border-radius: 60px;
  background-clip: padding-box;
  // margin: 7px 0 0 5px;
  float: left;
  background-size: cover;
  background-position: center center;
}

.width {
  width: 12rem;
}

.pull-right {
  margin: 0 auto;
}

.avatar {
  max-width: 75%;
  height: 9rem;
  width: 15rem;
  max-height: 75%;
}

@media (min-width: 370px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .center {
    margin-top: 5.5rem;
  }
}

.d-inline {
  display: inline;
}
