.font-aw {
  li {
    text-align: center;
    i {
      font-size: 22px;
    }
    margin-bottom: 2rem;
    margin-top: 1rem;
    span {
      display: block;
    }
  }
}

.avatar-container {
  -webkit-background-clip: padding-box;
  -moz-border-radius: 60px;
  -moz-background-clip: padding;
  // border-radius: 60px;
  background-clip: padding-box;
  // margin: 7px 0 0 5px;
  float: left;
  background-size: cover;
  background-position: center center;
}

.avatar {
  max-width: 50%;
  height: 9rem;
  width: 25rem;
  max-width: 50%;
  max-height: 50%;
}

.info-badges {
  // padding-left: 0.1rem;
}
