<div class="main-wrapper">
  <!--Title Bar -->
  <title-bar title="Helpers" subtitle="Find contractors and volunteers"></title-bar>
  <!-- Content  -->
  <div class="content">
    <div class="container">
      <div class="row">
        <!-- Search -->
        <div class="col-md-12 grid-full-width page-search mb-3">
          <div class="main-search-input mt-0">
            <div class="col-lg-4 col-sm-8">
              <div class="form-group">
                <input [ngModel]="filters.search" (ngModelChange)="setFilter($event, 'search')" type="text"
                  placeholder="Search for helpers..." class="form-control" />
              </div>
            </div>
            <div class="col-lg-4 col-sm-8">
              <select (change)="setFilter($event.target.value, 'rating')" class="custom-select my-1 mr-sm-2"
                id="inlineFormCustomSelectPref">
                <option selected>Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-8">
              <select (change)="setFilter($event.target.value, 'helper')" class="custom-select my-1 mr-sm-2"
                id="inlineFormCustomSelectPref">
                <option selected>Helper Type</option>
                <option value="contractors">Contractor</option>
                <option value="volunteers">Volunteer</option>
                <option value="all">All</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Search Section / End -->
        <div class="col-md-12">
          <!-- Sorting - Filtering Section -->
          <!-- <div class="row my-4">
            <div class="col-md-6">
              <div class="layout-switcher">
                <a [routerLink]="['/listing/grid/full-width']" class="grid"
                  ><span class="round-pill d-block"><i class="fa fa-th"></i></span
                ></a>
                <a class="list active"
                  ><span class="round-pill d-block"><i class="fa fa-align-justify"></i></span
                ></a>
              </div>
            </div>
          </div> -->
          <!-- Sorting - Filtering Section / End -->
          <div class="row">
            <!-- Listing Item -->
            <div class="col-lg-12 col-md-12"
              *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
              <div class="listing-item-container list-layout mb-4">
                <div class="listing-item">
                  <!-- Image -->
                  <div
                    class="listing-item-image d-flex justify-content-center align-items-center text-center avatar-container">
                    <a class="width" [routerLink]="['/listing/detail/version2']"><img [src]="getAvatar(user)"
                        class="img-fluid rounded-circle shadow-lg mr-2 avatar" alt="" /></a>
                  </div>
                  <!-- Content -->
                  <div class="listing-item-content d-inline">
                    <div class="pull-right center">
                      <span *ngIf="user.isContractor"
                        class="badge badge-pill list-banner badge-success text-uppercase">{{ 'Contractor' }}</span>
                      <span *ngIf="user.isVolunteer"
                        class="badge badge-pill list-banner badge-success text-uppercase">{{ 'Volunteer' }}</span>
                    </div>

                    <div class="listing-item-inner">
                      <!-- <Cajun UnionRating [rate]="list.rating" [review]="list.review"></Cajun UnionRating> -->
                      <a [routerLink]="" (click)="selectUser(user)">
                        <h3>{{ user.firstName + ' ' + user.lastName }}</h3>
                      </a>
                      <span><small>{{ userDistance(user, i) }}</small>
                        <i *ngIf="userDistance(user, i) === 'Loading...'" class="fa fa-spinner fa-spin ml-1"></i>
                      </span>
                      <div class="mt-1">
                        <span class="star" *ngFor="let rating of ratings(user); let i = index"
                          [ngClass]="{ 'ml-1': i > 0 }"><i class="fa fa-star star"></i></span>
                      </div>

                      <div class="row mt-1 ml-md-0">
                        <span
                          class="badge badge-pill badge-primary text-uppercase">{{ getStat(user, 'numReviews') + ' Reviews'}}</span>
                        <span
                          class="badge badge-pill badge-primary text-uppercase">{{ getStat(user, 'jobsDone') + ' Jobs Done' }}</span>
                      </div>
                      <!-- <div class="col-12">
                        <div class="row">
                          <div class="mr-2">
                            <span class="badge badge-pill badge-primary text-uppercase">{{ (list.contractors || 0) + ' Contractors' }}</span>
                          </div>
                          <div>
                            <span class="badge badge-pill badge-primary text-uppercase">{{ (list.volunteers || 0) + ' Volunteers' }}</span>
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <!-- <span class="round-pill like-banner d-block bg-primary"><i class="fa fa-heart-o"></i></span> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Listing Item / End -->
          </div>
          <!-- Pagination -->
          <div class="clearfix"></div>
          <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
          <!-- Pagination / End -->
        </div>
      </div>
    </div>
  </div>
</div>