<div class="main-wrapper">
  <!--Title Bar -->
  <title-bar title="List Full Width" subtitle="Explore New Places"></title-bar>
  <!-- Content  -->
  <div class="content">
    <div class="container">
      <div class="row">
        <!-- Search -->
        <div class="col-md-12 grid-full-width page-search mb-3">
          <div class="main-search-input mt-0">
            <div class="col-lg-3 col-sm-6">
              <div class="form-group">
                <input type="text" placeholder="What are you looking for?" class="form-control" />
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="form-group">
                <input type="text" placeholder="Location" class="form-control" />
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Choose...</option>
                <option value="1">Hotel</option>
                <option value="2">Bar</option>
                <option value="3">Food Courts</option>
              </select>
            </div>
            <div class="col-lg-3 col-sm-6 text-right">
              <a class="btn main-search-btn btn-radius btn-lg btn-primary text-white"><span class="btn-inner--text">Search</span></a>
            </div>
          </div>
        </div>
        <!-- Search Section / End -->
        <div class="col-md-12">
          <!-- Sorting - Filtering Section -->
          <!-- <div class="row my-4">
            <div class="col-md-6">
              <div class="layout-switcher">
                <a [routerLink]="['/listing/grid/full-width']" class="grid"
                  ><span class="round-pill d-block"><i class="fa fa-th"></i></span
                ></a>
                <a class="list active"
                  ><span class="round-pill d-block"><i class="fa fa-align-justify"></i></span
                ></a>
              </div>
            </div>
          </div> -->
          <!-- Sorting - Filtering Section / End -->
          <div class="row">
            <!-- Listing Item -->
            <div class="col-lg-12 col-md-12" *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
              <div class="listing-item-container list-layout mb-4">
                <div class="listing-item">
                  <!-- Image -->
                  <div class="listing-item-image d-flex justify-content-center align-items-center text-center avatar-container">
                    <a [routerLink]="['/listing/detail/version2']"
                      ><img [src]="getAvatar(user)" class="img-fluid rounded-circle shadow-lg mr-2 avatar" alt=""
                    /></a>
                  </div>
                  <!-- Content -->
                  <div class="listing-item-content">
                    <span *ngIf="user.isContractor" class="badge badge-pill list-banner badge-success text-uppercase">{{ 'Contractor' }}</span>
                    <span *ngIf="user.isVolunteer" class="badge badge-pill list-banner badge-success text-uppercase">{{ 'Volunteer' }}</span>
                    <div class="listing-item-inner">
                      <!-- <DirectlistRating [rate]="list.rating" [review]="list.review"></DirectlistRating> -->
                      <a [routerLink]="" (click)="selectUser(user)">
                        <h3>{{ user.firstName + ' ' + user.lastName }}</h3>
                      </a>
                      <span
                        ><small>{{ userDistance(user, i) }}</small></span
                      >
                      <div class="mt-1">
                        <span class="star" *ngFor="let rating of ratings(user); let i = index" [ngClass]="{ 'ml-1': i > 0 }"
                          ><i class="fa fa-star star"></i
                        ></span>
                      </div>
                      <div class="mt-1 info-badges">
                        <span class="badge badge-pill badge-primary text-uppercase">{{ getStat(user, 'numReviews') + ' Reviews' }}</span>
                        <span class="badge badge-pill badge-primary text-uppercase ml-2">{{ getStat(user, 'jobsDone') + ' Jobs Done' }}</span>
                      </div>
                      <!-- <div class="col-12">
                        <div class="row">
                          <div class="mr-2">
                            <span class="badge badge-pill badge-primary text-uppercase">{{ (list.contractors || 0) + ' Contractors' }}</span>
                          </div>
                          <div>
                            <span class="badge badge-pill badge-primary text-uppercase">{{ (list.volunteers || 0) + ' Volunteers' }}</span>
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <!-- <span class="round-pill like-banner d-block bg-primary"><i class="fa fa-heart-o"></i></span> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Listing Item / End -->
          </div>
          <!-- Pagination -->
          <div class="clearfix"></div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
          <!-- Pagination / End -->
        </div>
      </div>
    </div>
  </div>
</div>
