<div [formGroup]="form" class="dashboard-content">
   <div class="row">
      <div class="col-lg-12">
         <div id="add-listing">
            <!-- Section -->
            <div class="add-listing-section mb-4">
               <!-- Headline -->
               <div class="add-listing-headline">
                  <h3> Details</h3>
               </div>
               <div class="row with-forms">
                  <div class="col-12">
                     <div class="form-group">
                        <input formControlName="title" type="text" placeholder="Title"
                           class="form-control form-control-alternative">
                     </div>
                  </div>
               </div>

               <div class="form">
                  <textarea class="form-control form-control-alternative" placeholder="Description"
                     id="exampleFormControlTextarea1" formControlName="description" rows="3"></textarea>
               </div>
               <!-- Row -->
               <div class="row with-forms">
                  <div class="col-md-6">
                     <div class="form-group">
                        <input type="text" placeholder="Address" class="form-control form-control-alternative"
                           ngx-google-places-autocomplete #placesRef="ngx-places"
                           (onAddressChange)="handleAddressChange($event)">

                     </div>
                  </div>
                  <div class="col-md-2">
                     <div class="form-group">
                        <input type="text" placeholder="Price (optional)" class="form-control form-control-alternative">
                     </div>
                  </div>
               </div>
               <!-- Row / End -->
               <!-- Row -->
               <h5> You are looking for: </h5>
               <div class="row with-forms">
                  <div class="col-md-3">
                     <label for="check-b cb-label">Volunteers</label>
                     <span class="pt-3">
                        <input id="check-c" type="checkbox" name="wantVolunteers" formControlName="wantVolunteers">
                     </span>

                  </div>
                  <div class="col-md-3">
                     <label for="check-b cb-label">Contractors</label>
                     <input id="check-c pt-3" type="checkbox" name="wantContractors" formControlName="wantContractors">
                  </div>
                  <!-- <div class="col-md-4">
                     <h5 class="twitter-input"><i class="fa fa-twitter"></i> Twitter <span>(optional)</span></h5>
                     <input type="text" class="form-control form-control-alternative"
                        placeholder="https://www.twitter.com/">
                  </div>
                  <div class="col-md-4">
                     <h5 class="gplus-input"><i class="fa fa-google-plus"></i> Google Plus <span>(optional)</span></h5>
                     <input type="text" class="form-control form-control-alternative"
                        placeholder="https://plus.google.com">
                  </div> -->
               </div>
               <!-- Row / End -->
               <!-- Checkboxes -->
               <!-- <h5 class="margin-top-30 margin-bottom-10">Amenities <span>(optional)</span></h5>
               <div class="checkboxes in-row margin-bottom-20">
                  <input id="check-a" type="checkbox" name="check">
                  <label for="check-a">Elevator in building</label>
                  <input id="check-b" type="checkbox" name="check">
                  <label for="check-b">Friendly workspace</label>
                  <input id="check-c" type="checkbox" name="check">
                  <label for="check-c">Instant Book</label>
                  <input id="check-d" type="checkbox" name="check">
                  <label for="check-d">Wireless Internet</label>
                  <input id="check-e" type="checkbox" name="check">
                  <label for="check-e">Free parking on premises</label>
                  <input id="check-f" type="checkbox" name="check">
                  <label for="check-f">Free parking on street</label>
                  <input id="check-g" type="checkbox" name="check">
                  <label for="check-g">Smoking allowed</label>
                  <input id="check-h" type="checkbox" name="check">
                  <label for="check-h">Events</label>
               </div> -->
               <!-- Checkboxes / End -->
            </div>
            <!-- Section -->
            <div class="add-listing-section mb-4">
               <!-- Headline -->
               <div class="add-listing-headline">
                  <h3>Contact Information</h3>
               </div>
               <!-- Title -->
               <form [formGroup]="form">
                  <div class="row with-forms">
                     <div class="col-md-12">
                        <div class="form-group">
                           <input type="text" placeholder="Name" formControlName="name"
                              class="form-control form-control-alternative">
                        </div>
                     </div>
                  </div>
                  <!-- Row -->
                  <div class="row with-forms">
                     <!-- Status -->
                     <div class="col-md-6">
                        <div class="form-group">
                           <input type="email" placeholder="Email Address" formControlName="email"
                              class="form-control form-control-alternative">
                        </div>
                     </div>
                     <!-- Type -->
                     <div class="col-md-6">
                        <div class="form-group">
                           <input type="tel" placeholder="Phone Number" formControlName="phoneNumber"
                              class="form-control form-control-alternative">
                        </div>
                     </div>
                     <!-- Website -->
                     <div class="row col-12">
                        <div class="col-md-4">
                           <input type="text" placeholder="Website (optional)"
                              class="form-control form-control-alternative">
                        </div>
                     </div>

                     <!-- Facebook -->
                     <div class="col-md-4">
                        <h5 class="fb-input"><i class="fa fa-facebook-square"></i> Facebook <span>(optional)</span></h5>
                        <input type="text" class="form-control form-control-alternative"
                           placeholder="https://www.facebook.com/">
                     </div>
                  </div>
               </form>
               <!-- Row / End -->
            </div>
            <!-- Section / End -->
            <!-- Section -->
            <div class="add-listing-section mb-4">
               <div class="add-listing-headline">
                  <h3>Images</h3>
               </div>
               <!-- Dropzone -->
               <dropzone (complete)="handleFileInput($event)" class="dropzone-container"
                  [message]="'Click or drag images here to upload'"></dropzone>
            </div>
            <!-- Section / End -->

            <!-- Section / End -->
            <!-- Section -->

            <!-- Section / End -->
            <!-- Section -->

            <!-- Section / End -->
            <a href="#" class="btn btn-danger">Preview <i class="fa fa-arrow-circle-right"></i></a>
            <button (click)="savePosting()" class="btn btn-primary">Create Post</button>
         </div>
      </div>
      <!-- Copyrights -->
      <div class="col-md-12">
         <div class="copyrights">© 2020 DirectList. All Rights Reserved.</div>
      </div>
   </div>
</div>