<div id="footer" class="sticky-footer bg-primary pt-5">
   <!-- Main -->
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-sm-6">
            <img class="footer-logo" src="assets/images/cajununion.png" alt="">
            <br><br>
            <!-- <p class="text-white">Help. Maecenas quis consequat libero, a feugiat
               eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p> -->
            <div class="text-widget text-white">
               <br>
               Phone: <span class="text-white">(337) 802-7540</span><br>
               E-Mail:<span class="text-white"> <a href="#" class="text-white"> admin@regroup-apps.com</a> </span><br>
            </div>
            <!-- <div class="mt-4">
               <a target="_blank" href="https://www.facebook.com/"
                  class="btn btn-neutral btn-icon-only btn-round btn-lg" data-toggle="tooltip"
                  data-original-title="Like us">
                  <i class="fa fa-facebook-square"></i>
               </a>

            </div> -->
         </div>
         <div class="col-md-4 col-sm-6 ">
            <ul class="footer-links">
               <!-- <li><a class="text-white" routerLink='/session/login'>Login</a></li>
               <li><a class="text-white" routerLink='/session/signup'>Sign Up</a></li>
               <li><a class="text-white" routerLink='/session/forgot-password'>Forgot Password</a></li>
               <li><a class="text-white" routerLink='/pages/add-listing'>Add Listing</a></li>
               <li><a class="text-white" routerLink='/pages/pricing'>Pricing</a></li> -->
               <li><a class="text-white" routerLink='/pages/about-us'>About</a></li>
               <li><a class="text-white" routerLink='/pages/contact-us'>Contact</a></li>
            </ul>
         </div>
         <div class="col-md-3  col-sm-12">
            <ul class="footer-links">
               <!-- <li><a class="text-white" routerLink='/pages/user-profile'>Profile</a></li>
               <li><a class="text-white" routerLink='/pages/blog/list'>Blog</a></li>
               <li><a class="text-white" routerLink='/pages/invoice'>Invoice</a></li>
               <li><a class="text-white" routerLink='/pages/booking'>Booking</a></li> -->
               <!-- <li><a class="text-white" routerLink='/pages/contact-us'>Contact</a></li> -->
            </ul>
         </div>
      </div>
      <!-- Copyright -->
      <div class="row">
         <div class="col-md-12">
            <div class="copyrights text-white">© 2020 Regroup LLC. All Rights Reserved.</div>
         </div>
      </div>
   </div>
</div>