<div id="map-container" class="fullwidth-home-map" *ngIf="Layout == 'header'">
	<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="9" [scrollwheel]="mapScrollWheel">
		 <agm-marker *ngFor="let marker of markers; let i = index"  [latitude]="marker.lat" [longitude]="marker.lng" [iconUrl]="marker.icon">
			 <agm-info-window>
				 <div class="infoBox">
				 <div class="map-box">
						<a class="listing-img-container">
								<img src="{{marker.image}}" alt="">
								<div class="listing-item-content">
									<h3>{{marker.title}}</h3>
									<span><small>{{marker.address}}</small></span>
								</div>
						</a>
				 </div>
				</div>
			</agm-info-window>
		 </agm-marker>
	</agm-map> -->
	<div class="image-section">
		<div class="header">Hurricane Laura Recovery</div>
		<div class="subheader">Find and offer help with Hurricane Laura recovery efforts in SWLA </div>

	</div>
	<div class="map-banner">
		<div class="main-search-inner">
			<div class="container">
				<div class="text-center">
					<div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
						<button (click)="routeTo(['listing', 'list', 'full-width'])"
							class="btn btn-primary front-page-btn mb-2 ml-2 mb-md-0 ml-md-0">
							<div class="text-large">Find Work</div>
							<!-- <div class="text-small">Find recovery efforts to help with.</div> -->
						</button>
						<button (click)="router.navigateByUrl('/admin/add-list')" class="btn btn-primary front-page-btn">
							<div class="text-large">Find Help</div>
							<!-- <div class="text-small">Request help with Hurricane recovery.</div> -->
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- <a *ngIf="!mapScrollWheel" id="scrollEnabling" title="Enable or disable scrolling on map" (click)="enableDisableScroll()">Enable Scrolling</a>
	<a *ngIf="mapScrollWheel" id="scrollEnabling" title="Enable or disable scrolling on map" (click)="enableDisableScroll()">Disable Scrolling</a> -->
</div>

<div id="map-container" class="sidebar-marker" *ngIf="Layout == 'sidebar'">
	<agm-map [latitude]="lat" [longitude]="lng" [zoom]="9" [scrollwheel]="mapScrollWheel">
		<agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng"
			[iconUrl]="marker.icon">
			<agm-info-window>
				<div class="infoBox">
					<div class="map-box">
						<a class="listing-img-container">
							<!-- <div class="infoBox-close"><i class="fa fa-times"></i></div> -->
							<img src="{{marker.image}}" alt="">
							<div class="listing-item-content">
								<h3>{{marker.title}}</h3>
								<span><small>{{marker.address}}</small></span>
							</div>
						</a>
					</div>
				</div>
			</agm-info-window>
		</agm-marker>
	</agm-map>
</div>