agm-map {
   height: 100%;
   width: 100%;
   margin: 0;
   z-index: 990;
}

.image-section {
   padding-top: 165px;
   padding-bottom: 140px;
   margin-bottom: 0px;
   border-top: 0px #e0e0e0 solid;
   background: url('../../../assets/images/downtownlc.jpg') no-repeat center / cover;
   height: 40rem;
   width: 100%;
   color:white;
   font-size: 5vh;
   text-align: center;
}

.header {
   font-size: 4.2vh;
   margin-bottom: 2rem;
   line-height: 2rem;
}

.subheader {
   font-size: 2.2vh;
}

.front-page-btn {
   width: 55%;
   display: block;
   // margin: 0 auto;
   border-radius: 5rem;
   word-wrap: break-word;
   overflow-wrap: normal;
   white-space: normal;
   text-align: center;
}

.text-small {
   font-size: 2vh;
   text-transform: none;
   word-wrap: break-word;
}

.text-large {
   font-size: 3vh;
   text-transform: none;
}

.btn-facebook {
	color: #fff;
	background-color: #4C67A1;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-facebook:focus {
	color: #fff;
}

.fb-share-button {
   width: auto;
}