<div class="container">
  <!--Title Bar -->
  <!-- <title-bar title="Booking Form" subtitle="Fill details for booking"></title-bar> -->
  <!-- Container -->
  <div [formGroup]="form" class="row">
    <!-- Content -->
    <div class="col-lg-12 col-md-8">
      <div class="row justify-content-between">
        <div class="col-8">
          <h4 class="mb-4">Review</h4>
          <h5>Please enter your review</h5>
        </div>
        <i (click)="close()" class="fa fa-times"></i>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="form-group">
            <input
              [formControl]="form.get('reviewer').get('firstName')"
              type="text"
              placeholder="First Name"
              class="form-control form-control-alternative"
            />
            <span class="error-message">{{ getError(form.get('reviewer').get('firstName')) }}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input [formControl]="form.get('rating')" type="number" placeholder="Rating" class="form-control form-control-alternative" />
            <span class="error-message">{{ errors.rating }}</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <textarea
              formControlName="message"
              class="form-control form-control-alternative"
              placeholder="Review"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
            <span class="error-message">{{ errors.message }}</span>
          </div>
        </div>
        <div class="col-md-12">
          <div *ngIf="error" class="alert-danger text-center mb-2">{{ error }}</div>
          <button (click)="respond()" class="btn btn-1 btn-primary d-block w-100">Submit</button>
        </div>

        <!-- <div class="col-md-12">
							<div class="form-group">
								<mat-form-field>
									<input matInput [ngxMatDatetimePicker]="picker" [formControl]="form.get('date')" [min]="minDate"
										[max]="maxDate">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
										[stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="true"
										[color]="color" [enableMeridian]="enableMeridian" [disableMinute]="false" [hideTime]="false">
									</ngx-mat-datetime-picker>
								</mat-form-field>
							</div>
						</div> -->
      </div>
    </div>
    <!-- Sidebar -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- Booking Summary -->
    <!-- <div class="order-summary-widget">
						<div class="listing-item">
							<img src="assets/images/cat-img-2.jpg" alt="">
							<div class="listing-item-content pt-3">
								<div><span class="badge badge-pill list-banner badge-success text-uppercase">5.0</span></div>
								<h3>Burger House</h3>
								<span><small> 2726 Shinn Street, New York</small></span>
							</div>
						</div>
					</div>
					<div class="bg-secondary p-4">
						<h4><i class="fa text-primary fa-calendar-check-o"></i> Booking Summary</h4>
						<ul class="summery">
							<li>Date <span>10/20/2017</span></li>
							<li>Time<span>5:30 PM</span></li>
							<li>Person <span>2 Adults</span></li>
							<li class="total-costs">Total Cost <span>$546.00</span></li>
						</ul>
					</div> -->
    <!-- Booking Summary / End -->
    <!-- </div> -->
  </div>
</div>
