<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading" class="main-wrapper">
  <!--Title Bar -->
  <title-bar title="Profile" [subtitle]="user.firstName + ' ' + user.lastName + '\'s Profile'"></title-bar>
  <!-- Content -->
  <div id="content">
    <div class="container">
      <div class="profile-page">
        <div class="card card-profile shadow">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img [src]="getAvatar(user)" class="rounded-circle" />
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <btn *ngIf="!isCurrentUser" (click)="openReviewModal()" class="btn btn-sm btn-info mr-4">Review</btn>
                  <btn *ngIf="!isCurrentUser" (click)="openReviewModal()" class="btn btn-sm btn-default float-right">Message</btn>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">{{ user.jobsDone || 0 }}</span>
                    <span class="description">Requests Fulfilled</span>
                  </div>
                  <div>
                    <span class="heading">{{ posts.length }}</span>
                    <span class="description">Requests Made</span>
                  </div>
                  <div>
                    <span class="heading">{{ user.numReviews || 0 }}</span>
                    <span class="description">Reviews</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>
                {{ user.firstName + ' ' + user.lastName }}
                <span class="font-weight-light"></span>
              </h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{ distance }}</div>
              <div *ngIf="status" class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{ status }}</div>
              <div *ngIf="website">
                <i class="fa fa-globe mr-2"></i><a [href]="website">{{ user.website }}</a>
              </div>
              <div *ngIf="facebook">
                <i class="fa fa-facebook mr-2"></i><a [href]="facebook">{{ user.facebook }}</a>
              </div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>
                    {{ user.about }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="px-4">
            <h3>{{ user.firstName + "'s Requests" }}</h3>
          </div>
          <div class="row p-4">
            <div *ngFor="let post of posts; let i = index" class="col-md-6 mb-4">
              <div class="listing-item-container list-layout">
                <a [routerLink]="['/listing/detail/version2']" [state]="{ post: post }" [queryParams]="{ postId: post.id }" class="listing-item">
                  <!-- Image -->
                  <div class="listing-item-image">
                    <img [src]="getImage(post)" alt="" />
                  </div>
                  <!-- Content -->
                  <div class="listing-item-content">
                    <span
                      class="badge badge-pill list-banner text-uppercase"
                      [ngClass]="{ 'badge-success': post.done, 'badge-danger': !post.done }"
                      >{{ post.done ? 'Completed' : 'Pending' }}</span
                    >
                    <div class="listing-item-inner">
                      <h3>{{ post.name }}</h3>
                      <span>
                        <small> {{ getPostDistance(i) }} </small>
                      </span>
                      <div class="mt-3">
                        <span class="badge badge-pill badge-primary text-uppercase">{{ post.category || 'All' }}</span>
                      </div>
                    </div>
                    <!-- <span class="round-pill like-banner d-block bg-primary"><i class="fa fa-heart-o"></i></span> -->
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="pb-5">
            <div class="px-4">
              <h3>Reviews</h3>
            </div>
            <div *ngFor="let review of reviews; let i = index" class="row p-4 list-img-wrap">
              <div class="col-md-2 list-img">
                <img [src]="getAvatar(review.reviewer.avatar)" class="img-fluid rounded-circle shadow-lg" />
              </div>
              <div class="col-md-10">
                <h5 class="text-primary">{{ review.reviewer.firstName }}</h5>
                <p class="text-muted">{{ formatDate(review.createdAt) }}</p>
                <p>
                  {{ review.message }}
                </p>
                <button *ngIf="isCurrentUser" (click)="openReviewResponseModal(review.id, i)" class="btn btn-sm btn-primary" type="button">
                  Respond
                </button>
              </div>
              <div *ngIf="review.response" class="col-8 review-response-container">
                <div class="message-bubble">
                  <div class="message-avatar"><img [src]="getAvatar(user)" alt="" /></div>
                  <div class="message-text">
                    <p>
                      {{ review.response.message }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
