.font-aw {
  li {
    text-align: center;
    i {
      font-size: 22px;
    }
    margin-bottom: 2rem;
    margin-top: 1rem;
    span {
      display: block;
    }
  }
}

.review-response-container {
  margin-top: 2rem;
  margin-left: 5rem;
}

.max-height {
  max-height: 2rem;
}