<div class="main-wrapper">
  <!--Title Bar -->
  <title-bar title="Requests" subtitle="Find requests for help"></title-bar>
  <!-- Content  -->
  <div class="content">
    <div class="container">
      <div class="row">
        <!-- Search -->
        <div class="col-md-12 grid-full-width page-search mb-3">
          <div class="main-search-input mt-0">
            <div class="col-lg-4 col-sm-8">
              <div class="form-group">
                <input (ngModelChange)="setFilter($event, 'search')" [ngModel]="filters.search" type="text"
                  placeholder="Search requests..." class="form-control" />
              </div>
            </div>
            <div class="col-lg-4 col-sm-8">
              <select (change)="setFilter($event.target.value, 'category')" class="custom-select my-1 mr-sm-2"
                id="inlineFormCustomSelectPref">
                <option selected>Category</option>
                <option value="cleanup">Cleanup</option>
                <option value="repair">Repair</option>
                <option value="all">All</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-8">
              <select (change)="setFilter($event.target.value, 'helper')" class="custom-select my-1 mr-sm-2"
                id="inlineFormCustomSelectPref">
                <option selected>Helper Type</option>
                <option value="contractors">Contractor</option>
                <option value="volunteers">Volunteer</option>
                <option value="all">All</option>
              </select>
            </div>
            <!-- <div class="col-lg-3 col-sm-6 text-right">
              <a class="btn main-search-btn btn-radius btn-lg btn-primary text-white"><span
                  class="btn-inner--text">Search</span></a>
            </div> -->
          </div>
        </div>
        <!-- Search Section / End -->
        <div class="col-md-12">
          <!-- Sorting - Filtering Section -->
          <!-- <div class="row my-4">
            <div class="col-md-6">
              <div class="layout-switcher">
                <a [routerLink]="['/listing/grid/full-width']" class="grid"
                  ><span class="round-pill d-block"><i class="fa fa-th"></i></span
                ></a>
                <a class="list active"
                  ><span class="round-pill d-block"><i class="fa fa-align-justify"></i></span
                ></a>
              </div>
            </div>
          </div> -->
          <!-- Sorting - Filtering Section / End -->
          <div class="row">
            <!-- Listing Item -->
            <div class="col-lg-12 col-md-12"
              *ngFor="let list of Data | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
              <div class="listing-item-container list-layout mb-4">
                <div (click)="selectPost(list)" class="listing-item hover">
                  <!-- Image -->
                  <div class="listing-item-image">
                    <img class="item-image" [src]="list.image" alt="" />
                  </div>
                  <!-- Content -->
                  <div class="listing-item-content">
                    <span *ngIf="list.wantVolunteers" class="badge badge-pill list-banner badge-success text-uppercase">{{
                      'Volunteers needed'
                    }}</span>
                    <span *ngIf="list.wantContractors"
                      class="badge badge-pill list-banner badge-success text-uppercase">{{
                      'Contractors needed'
                    }}</span>
                    <div class="listing-item-inner">
                      <!-- <Cajun UnionRating [rate]="list.rating" [review]="list.review"></Cajun UnionRating> -->
                      <h3>{{ list.title }}</h3>
                      <span><small>{{ list.address }}</small></span>
                      <div class="col-12 row mt-3">
                        <div *ngFor="let category of list.categories; let i = index">
                          <span class="badge badge-pill badge-primary text-uppercase"
                            [ngClass]="{ 'ml-1': i > 0 }">{{ category }}</span>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="row">
                          <div class="mr-1">
                            <span
                              class="badge badge-pill badge-primary text-uppercase">{{ (list.contractors || 0) + ' Contractors' }}</span>
                          </div>
                          <div>
                            <span
                              class="badge badge-pill badge-primary text-uppercase">{{ (list.volunteers || 0) + ' Volunteers' }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <span class="round-pill like-banner d-block bg-primary"><i class="fa fa-heart-o"></i></span> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Listing Item / End -->
          </div>
          <!-- Pagination -->
          <div class="clearfix"></div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
          <!-- Pagination / End -->
        </div>
      </div>
    </div>
  </div>
</div>