<div *ngIf="loading">Loading...</div>
<div *ngIf="!loading" class="dashboard-content">
  <div class="db-tile">
    <h4>Responses</h4>
  </div>
  <div *ngFor="let response of responses" class="row responsive-row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="text-center">
              <img alt="" class="img-fluid rounded-circle" [src]="getAvatar(response)" width="90" height="90" />
              <h6 class="mt-2 font-weight-bold">{{ response.responder.firstName + ' ' + response.responder.lastName }}</h6>
            </div>
            <div class="flex-grow-1 px-5">
              <h4 class="mb-3 mr-1">
                {{ getPostAttribute(response.postId, 'title') }}<span class="badge badge-pill badge-danger text-uppercase ml-1">Pending</span>
              </h4>
              <div class="mb-4">
                <div class="detail-list mb-2">
                  <div class="detail-list-label mb-1">
                    <i class="fa fa-calendar mr-2" aria-hidden="true"></i> <small class="text-uppercase font-weight-bold">Comments</small>
                  </div>
                  <p class="m-0 text-small text-muted">{{ response.message }}</p>
                </div>
                <div class="detail-list mb-2">
                  <div class="detail-list-label mb-1">
                    <i class="fa fa-calendar mr-2" aria-hidden="true"></i> <small class="text-uppercase font-weight-bold">Response Date</small>
                  </div>
                  <p class="m-0 text-small text-muted">{{ getDate(response) }}</p>
                </div>
                <div class="detail-list mb-2">
                  <div class="detail-list-label mb-1">
                    <i class="fa fa-envelope mr-2" aria-hidden="true"></i> <small class="text-uppercase font-weight-bold">Email</small>
                  </div>
                  <p class="m-0 text-small text-muted">{{ response.responder.email }}</p>
                </div>
                <div class="detail-list mb-2">
                  <div class="detail-list-label mb-1">
                    <i class="fa fa-phone mr-2" aria-hidden="true"></i> <small class="text-uppercase font-weight-bold">Contact No.</small>
                  </div>
                  <p *ngIf="!response.responder.phoneNumber" class="m-0 text-small text-muted">{{ 'Unavailable' }}</p>
                  <a *ngIf="response.responder.phoneNumber" [href]="'tel:+' + response.responder.phoneNumber">{{
                    formatPhone(response.responder.phoneNumber) || 'Unavailable'
                  }}</a>
                </div>
                <div class="detail-list mb-2">
                  <div class="detail-list-label mb-1">
                    <i class="fa fa-facebook mr-2" aria-hidden="true"></i> <small class="text-uppercase font-weight-bold">Facebook</small>
                  </div>
                  <p *ngIf="!response.responder.facebook" class="m-0 text-small text-muted">{{ 'Unavailable' }}</p>
                  <a *ngIf="response.responder.facebook" [href]="getLink(response.responder.facebook)">{{ response.responder.facebook }}</a>
                </div>
              </div>
            </div>
            <div *ngIf="!response.decision || (!response.decision.approved && !response.decision.rejected)">
              <button (click)="approve(response)" class="btn btn-1 btn-primary" type="button">Approve</button>
              <button (click)="reject(response)" class="btn btn-1 btn-danger" type="button">Reject</button>
            </div>
            <div *ngIf="response.decision">
              <div
                class="alert font-weight-bold text-capitalize"
                [ngClass]="{ 'alert-danger': response.decision.rejected, 'alert-success': response.decision.approved }"
              >
                <span class="h6 text-white font-weight-bold">{{ response.decision.approved ? 'Approved' : 'Rejected' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
